@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

$background-black: #0b1d26;
$text-white: #ffffff;
$primary-yellow: #fbd784;
$secondary-yellow: #e9c984;
$basic-font: 'DM Serif Display';
